/* This is a universal selector defining style for the whole page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* this helps with styling fonts into grey colors */
greytxt {
    color: #d9dcd6;
}


/* this defines the background color of the main body */
body {
    background-color: #d9dcd6;
}


/* simple paragraph tag */
p {
    font-size: 16px;
}


/* this defines the header class */
.header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}


/* defines the styles of heading elements nested inside header class */
.header h1 {
    display: inline-block;
    font-size: 48px;
}


/* defines the navigation bar style nested inside the header class*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


/* defines the un-ordered list style inside nav and header class */
.header nav ul {
    list-style-type: none;
}


/* allows the list items to appear side by side in the header class */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/* simple element to be used in-line for linked texts */
a {
    color: #ffffff;
    text-decoration: none;
}


/* the following two selectors help me create the same image but
using the img tag instead of the background image class that was
defined here before, because we have not been taught about the
background image class, therefore I decided to use the img tag that 
we should be familiar with at this point */
.backgroundimage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    display: block;
    overflow: hidden;
    z-index: -900;
}

.backgroundimage img {
    display: block;
    width: 100%;
    position: relative;
    top: -230px;
    min-height: 825px;
}


/* the following 6 selectors help styling the left side of the page
(the left column), where the content tag defines the large box, and
the following class selectors are situated within the content box, 
and each of the class selectors also contain a heading tag and a
img tag that allows me to style and positon of these items; I removed
the float-left or float-right classes (and in HTML as well) since it
can be directly defined as an argument in the img tags*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management img {
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/* the following 10 selectors are similar to the ones above, except 
this is for the right column of the page (the skinnier column)  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* the following final selectors help me define the footer elements*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
